@model List<tp.Models.ViewModel.GaleriaViewModel>;

<div class="container mt-4">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src="@item.Imagen" class="card-img-top embed-responsive-item">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <h6 class="TipoJuegos">@item.Categoria.Nombre</h6>
                        
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h6 class="PuntajeTotalJugador">Puntaje segun Jugadores: @item.PuntajeTotalJugador</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6 class="PuntajeTotalPeriodista">Puntaje segun Periodistas: @item.PuntajeTotalPeriodista</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6 class="CantidadDeVotos">Votos De Jugadores: @item.CantidadVotosJugador</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6 class="PuntajeTotalPeriodista">Votos de Periodistas: @item.CantidadVotosPeriodista</h6>
                            </div>
                        </div>

                        <div class="row">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="col-md-6 col-sm-12">
                                    <a class="btn btn-primary" asp-area="" asp-controller="Voto" asp-action="Create" asp-route-IdJuego="@item.IdJuego" asp-route-IdUsuario="@User.FindFirstValue(ClaimTypes.Name)">Votar</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>